*target*
*.jar
*.war
*.ear
*.class
hs_err_pid*

# lyx
*.lyx~
*.lyx#


# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

#odt
~$*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Intellij
.idea/
*.ipr
*.iml
*.iws
out/
com_crashlytics_export_strings.xml

# Mac
.DS_Store

# Maven
log/
target/


## Gradle
.gradle
gradle-app.setting
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar